<div>
    {{#if registerSuccessMsg}}
       <p>{{registerSuccessMsg}}</p>
    {{/if}}
    {{#if loginErrorMsg}}
        <p>{{loginErrorMsg}}</p>
    {{/if}}
</div>

<h1>Login</h1>
<form method="POST" action="/users/login">
    <div>
        <label for="email">Email</label><br>
        <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter Email"
        />
    </div>
    <br>
    <div>
        <label for="password">Password</label><br>
        <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter Password"
        />
    </div>
    <br>
    <button type="submit">Login</button>
</form>
<p>No Account? <a href="/users/register">Register</a></p>
