<h1>Choose Your Opponent</h1>
<main>
    <div>
        <p>{{opponent.name}}</p>
        <p>{{opponent.score}}</p>
    </div>

    <a href="/game/play/{{opponent.users_pk}}" class="btn">Thumbs Up</a>
    <a href="/game/start" class="btn">Thumbs Down</a>
</main>
